<!DOCTYPE html>
<html lang="ru">
	{% include 'parts/head.tmpl' %}
	<body>
		{# mdiv #}
		<div class="container">
			{% include 'parts/navbar.tmpl' %}
			<div class="row">
				<h5>Здесь будут примеры использования Alicanto</h5>
			</div>
		</div>
		{# mdiv #}
	</body>
</html>
