<!DOCTYPE html>
<html lang="ru">
	{% include 'parts/head.tmpl' %}
	<body>
		{# mdiv #}
		<div class="container">
			{% include 'parts/navbar.tmpl' %}
			<div class="row">
				<div class="one-half column" style="margin-top: 25%">
					<h4>Alicanto Crypto Satellite</h4>
					<p>Etiam iaculis, leo sit amet interdum ultrices, nisi justo pulvinar lacus, in semper justo nisi sed massa. Vivamus varius nec leo quis dapibus. Morbi tristique, tortor at varius sodales, dolor neque volutpat tellus, sit amet sollicitudin mi nunc sit amet tortor. Donec dictum sagittis mi, eget ultricies justo facilisis cursus. Pellentesque laoreet consequat venenatis. Nulla sodales nunc at mattis faucibus. Integer ut blandit risus, a molestie nunc. Aenean a tristique elit. Nullam non lacinia magna. Maecenas aliquet fringilla erat, in pharetra quam iaculis ut. Etiam iaculis augue sed ultricies tristique. Vivamus vitae velit lacus.</p>
				</div>
			</div>
		</div>
		{# mdiv #}
	</body>
</html>
